src/main/app/amq-redelivery.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
    xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd

">
	<spring:beans>
		<spring:import resource="classpath:beans.xml" />
	</spring:beans>

    <jms:activemq-connector name="vmJmsConnector" specification="1.1"
                            persistentDelivery="true"
                            durable="true"
                            maxRedelivery="-1"
                            username="anyone"
                            password="anything"
                            numberOfConcurrentTransactedReceivers="2"
                            connectionFactory-ref="amqVmConnectionFactory">
        <reconnect-forever/>
    </jms:activemq-connector>

    <jms:activemq-connector name="tcpJmsConnector" specification="1.1"
                            persistentDelivery="true"
                            durable="true"
                            maxRedelivery="-1"
                            username="mule"
                            password="mule"
                            numberOfConcurrentTransactedReceivers="2"
                            connectionFactory-ref="amqTcpConnectionFactory">
        <reconnect-forever/>
    </jms:activemq-connector>


	<flow name="vmBrokerFlow">
		<jms:inbound-endpoint connector-ref="vmJmsConnector" queue="the.queue">
			<jms:transaction action="BEGIN_OR_JOIN" />
		</jms:inbound-endpoint>
        <logger level="ERROR"/>

		<logger category="com.example.mule.experiment" level="DEBUG" message="VM flow received message: #[payload]" />
		<scripting:transformer>
			<scripting:script engine="groovy">
				if (false == message.getInboundProperty('JMSRedelivered')) {
					throw new RuntimeException('just forcing the problem')
				} else {
					return payload
				}
			</scripting:script>
		</scripting:transformer>
		<!--<set-property propertyName="JMSRedelivered" value="#[header:INBOUND:JMSRedelivered]" />-->
		<vm:outbound-endpoint path="vm.success">
			<vm:transaction action="NONE" />
		</vm:outbound-endpoint>
	</flow>

	<flow name="tcpBrokerFlow">
		<jms:inbound-endpoint connector-ref="tcpJmsConnector" queue="the.queue">
			<jms:transaction action="BEGIN_OR_JOIN" />
		</jms:inbound-endpoint>
		<logger category="com.example.mule.experiment" level="DEBUG" message="TCP flow received message: #[payload]" />
		<scripting:transformer>
			<scripting:script engine="groovy">
				if (false == message.getInboundProperty('JMSRedelivered')) {
					throw new RuntimeException('just forcing the problem')
				} else {
					return payload
				}
			</scripting:script>
		</scripting:transformer>
		<set-property propertyName="JMSRedelivered" value="#[header:INBOUND:JMSRedelivered]" />
		<vm:outbound-endpoint path="tcp.success">
			<vm:transaction action="NONE" />
		</vm:outbound-endpoint>
	</flow>
</mule>
